html
    head
        body
            .area
                .sequence
                    .result
                        .result_text 
                    .sequence_bar
                        .sequence_bar_hitbox
                        .sequence_bar_movebox
                    .box
                        .stopBox STOP!!!
                        .startBox(style="display:none") START!!!
            script(src="./index.js")