html
    head
        meta#viewport(content='width=device-width', name='viewport')
        <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <title>ProgressbarGame</title>
        <meta name="description" content="ProgressbarGame 全部で3ステージ" />
        <meta property="og:url" content="https://progressbar-game.netlify.com/" />
        <meta property="og:title" content="ProgressbarGame" />
        <meta property="og:type" content="website">
        <meta property="og:description" content="ProgressbarGame 全部で3ステージ" />
        <meta property="og:image" content="https://progressbar-game.netlify.com/soruce/game.png" />
        <meta name="twitter:card" content="Summary Card" />
        <meta name="twitter:site" content="@RinstarskyKujat" />
        <meta property="og:site_name" content="ProgressbarGame" />
        <meta property="og:locale" content="ja_JP" />
        <meta property="fb:app_id" content="" />
        body
            .overlay
            .main
                header.header
                    .header_inner
                        h1.header_title ProgressbarGame
                .sidebar.-is-left
                .sidebar.-is-right
                .content
                    .area.-stage1
                        .score stage 1/3
                        .sequence
                            .result
                                .result_text
                            .sequence_bar
                                .sequence_bar_hitbox
                                .sequence_bar_movebox
                            .box
                                .stopBox STOP!!!
                                .startBox(style="display:none") START!!!
                footer.footer
                    .footer_inner
                        h1.footer_title ProgressbarGame
                        ul.listSns
                            li.listSns_item
                                a(href='https://twitter.com/RinstarskyKujat', target='_blank') Twitter
                            li.listSns_item
                                a(href='https://github.com/TakuyaTaniguchi/SequenceGame', target='_blank') Github
            script(src="./index.js")