html
    head
        meta#viewport(content='width=device-width', name='viewport')
        body
            .area
                .sequence
                    .result
                        .result_text
                    .sequence_bar
                        .sequence_bar_hitbox
                        .sequence_bar_movebox
                    .box
                        .stopBox STOP!!!
                        .startBox(style="display:none") START!!!
                    a(href="https://github.com/TakuyaTaniguchi/SequenceGame") gitHub
            script(src="./index.js")