html
    head
        meta#viewport(content='width=device-width', name='viewport')
        <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
        body
            .overlay
            .main
                header.header
                    .header_inner
                        h1.header_title ProgressbarGame
                .sidebar.-is-left
                .sidebar.-is-right
                .content
                    .area.-stage1
                        .score stage 1/3
                        .sequence
                            .result
                                .result_text
                            .sequence_bar
                                .sequence_bar_hitbox
                                .sequence_bar_movebox
                            .box
                                .stopBox STOP!!!
                                .startBox(style="display:none") START!!!
                footer.footer
                    .footer_inner
                        h1.footer_title ProgressbarGame
                        ul.listSns
                            li.listSns_item
                                a(href='https://twitter.com/RinstarskyKujat', target='_blank') Twitter
                            li.listSns_item
                                a(href='https://github.com/TakuyaTaniguchi/SequenceGame', target='_blank') Github
            script(src="./index.js")