@import '/soruce/reset.scss';
// @import './asset/stage1';
// @import './asset/stage2';
body{
  background-color: #00818a;
  font-family: 'Shojumaru', cursive;
  background-color: #F8FFE8;
  // border-left: solid 50px #59C3C3;
  // border-right: solid 50px #59C3C3;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  &.-is-clear{
    z-index: 1;
    &::before{
      content: "Clear!!";
      display: block;
      font-size: 100px;
      opacity: 1;
      z-index: 1;
      color: #fff;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (max-width:480px) {
        font-size: 30px;
      }
    }
    &::after{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.7;
      background-color: #000;
    }
  }
  &.-is-Congratulations{
    z-index: 1;
    &::before{
      content: "Congratulations!!";
      display: block;
      font-size: 100px;
      opacity: 1;
      z-index: 1;
      color: #fff;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (max-width:480px) {
        font-size: 30px;
      }
    }
    &::after{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.7;
      background-color: #000;
    }
  }
}
/* header
----------------------- */
.header{
  display: block;
  background-color: #59C3C3;
  position: relative;
  &_inner{
    padding: 25px 0;
  }
  &_title{
    color: #F8FFE8;
    text-align: center;
    @media screen and (max-width:480px) {
      font-size: 24px;
    }
  }
}

/* footer
----------------------- */
.footer{
  display: block;
  background-color: #59C3C3;
  position: relative;
  &_inner{
    position: relative;
    padding: 25px 0;
  }
  &_title{
    color: #F8FFE8;
    text-align: center;
    @media screen and (max-width:480px) {
      font-size: 24px;
    }
  }
}

/* sidebar
----------------------- */
.sidebar{
  height: 100%;
  position: absolute;
  display: block;
  width: 50px;
  background-color: #59C3C3;
  &.-is-left{
    left: 0;
    top: 0;
  }
  &.-is-right{
    right: 0;
    top: 0;
  }
}

/* content
----------------------- */

.content{
  display: flex;
  align-items: center;
  width: calc(100% - 100px);
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 160px);
}

/* listSns
----------------------- */
.listSns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: 35px;
  right: 125px;
  @media screen and (max-width:480px) {
    position: static;
    justify-content: center;
    margin-top: 15px;
  }
  &_item{
    margin: 0 10px;
    a{
      display: block;
    }
  }
}
/* base
----------------------- */

.area{
    width: 80%;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #59C3C3;
    @media screen and (max-width:480px) {
      width: 95%;
      height: 97%;
      padding: 170px 20px;
    }
     &.-stage1{
        .sequence_bar_movebox{
          @extend .animation-movebox;
        }
    }
    &.-stage2{
      .sequence_bar_movebox{
        @extend .animation-movebox2;
      }
    }
    &.-stage3{
      .sequence_bar_movebox{
        @extend .animation-movebox3;
      }
    }
    &.-is-stop{
      .sequence_bar_movebox{
        animation-play-state: paused !important;
      }
    }
    .sequence{
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      &_bar{
        width: 100%;
        height: 30px;
        display: block;
        background-color: #003366;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        &_hitbox{
          width: 20px;
          height: 30px;
          background-color: #fff;
          display: block;
          position: absolute;
          left: 50%;
        }
        &_movebox{
          width: 10px;
          height: 30px;
          background-color: red;
          display: block;
          position: absolute;
          top: 0;
          left: 0%;
        }
      }
    }
    .score{
      text-align: center;
      font-size: 36px;
      @media screen and (max-width:480px) {
        font-size: 28px;
      }
    }
  }
  /*
  * mova-box pattern
  */
  .animation-movebox{
      animation: movebox 2s ease alternate infinite .3s;
  }
  @keyframes movebox {
      0%{
      left: 0%
      }
      100%{
      left: calc(100% - 10px);
      }
  }

  .animation-movebox2{
    animation: movebox2 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) alternate infinite .3s;
  }
  @keyframes movebox2 {
      0%{
      left: 0%
      }
      100%{
      left: calc(100% - 10px);
      }
  }

  .animation-movebox3{
    animation: movebox3 2.2s cubic-bezier(0.750, -0.005, 0.460, 0.420) alternate infinite .3s;
  }
  @keyframes movebox3 {
      0%{
      left: 0%
      }
      100%{
      left: calc(100% - 10px);
      }
  }


  .box{
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width:480px) {
      margin-top: 45px;
    }
  }
  .stopBox{
    display: block;
    padding: 15px 0;
    background-color: #C0C0C0;
    border: solid #003366;
    border-radius: 10px;

  }
  
  .startBox{
    display: block;
    padding: 15px 0;
    background-color: #C0C0C0;
    border: solid #003366;
    border-radius: 10px;

  }

  .result{
    display: block;
    text-align: center;
    height: 24px;
    &_text{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .wrap{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }