@import '/soruce/reset.scss';
body{
  background-color: #00818a;
  font-family: 'Shojumaru', cursive;
  border-left: solid 50px #f7be16;
  border-right: solid 50px #f7be16;
}
/* header
----------------------- */
.header{
  display: block;
  background-color: #f7be16;
  &_inner{
    padding: 25px 0;
  }
  &_title{
    color: #293462;
    text-align: center;
  }
}

/* footer
----------------------- */
.footer{
  display: block;
  background-color: #f7be16;
  &_inner{
    position: relative;
    padding: 25px 0;
  }
  &_title{
    color: #293462;
    text-align: center;
  }
}

/* listSns
----------------------- */
.listSns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  margin-left: auto;
  position: absolute;
  top: 25px;
  right: 25px;
  &_item{
    width: 40px;
    min-width: 40px;
    a{
      display: block;
    }
  }
}
/* base
----------------------- */

.area{
    width: 90%;
    margin: 280px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #6699CC;
     &.-stage1{
        .sequence_bar_movebox{
          @extend .animation-movebox;
        }
    }
    &.-stage2{
      .sequence_bar_movebox{
        @extend .animation-movebox2;
      }
    }
    &.-stage3{
      .sequence_bar_movebox{
        @extend .animation-movebox2;
      }
      .sequence_bar{
        @extend .animation-mova-sequence_bar-3;
      }
    }
    &.-is-stop{
      .sequence_bar_movebox{
        animation-play-state: paused !important;
      }
    }
    .sequence{
      width: 100%;
      max-width: 500px;
      background-color: #6699CC;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      &_bar{
        width: 100%;
        height: 30px;
        display: block;
        background-color: #003366;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        // @extend .animation-mova-sequence_bar-3;
        &_hitbox{
          width: 20px;
          height: 30px;
          background-color: #fff;
          display: block;
          position: absolute;
          left: 50%;
        }
        &_movebox{
          width: 10px;
          height: 30px;
          background-color: red;
          display: block;
          position: absolute;
          top: 0;
          left: 0%;
        }
      }
    }
    .score{
      text-align: center;
      font-size: 36px;
    }
  }
  
  
  /*
  * mova-box pattern
  */
  .animation-movebox{
      animation: movebox 5.2s ease alternate infinite .3s;
  }
  @keyframes movebox {
      0%{
      left: 0%
      }
      100%{
      left: calc(100% - 10px);
      }
  }

  .animation-movebox2{
      animation: movebox 5.2s cubic-bezier(0.450, 0.190, 0.170, 1) alternate infinite .3s;
  }
  @keyframes movebox2 {
      0%{
      left: 0%
      }
      100%{
      left: calc(100% - 10px);
      }
  }

  /*
  * mova-sequence_bar pattern
  */

  .animation-mova-sequence_bar-3{
      animation: mova-sequence_bar-3 5.2s cubic-bezier(0.450, 0.190, 0.170, 1) alternate infinite .3s;
  }
  @keyframes mova-sequence_bar-3 {
      0%{
      left: 0%
      }
      50%{
        left: calc(-100%);
      }
      100%{
      left: calc(100%);
      }
  }


  .box{
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .stopBox{
    display: block;
    padding: 5px 5px;
    background-color: #C0C0C0;
  }
  
  .startBox{
    display: block;
    padding: 5px 5px;
    background-color: #C0C0C0;
  }

  .result{
    display: block;
    text-align: center;
    height: 24px;
    &_text{
      font-size: 16px;
      font-weight: bold;
    }
  }